h1,
p {
  font-family: Lato;
}

.FancyBorder {
  border: dashed 2px black;
}

.FancyBorder-red {
  border: dashed 2px darkred;
}

.FancyBorder-green {
  border: dashed 2px darkgreen;
}

.FancyBorder-blue {
  border: dashed 2px darkblue;
}

.SplitPane {
  display: flex;
  justify-content: space-between;
  border: solid 1px purple;
}
